		<tfoot>
			<tr>
				<td class="check"><input type="checkbox" value="Tout cocher / décocher" id="f_all2" /><label for="f_all2"></label></td>
				<td></td>
				<td class="tabs" colspan={$colspan}>
					<em>PAS FONCTIONNEL - Pour les client·es coché·es :</em>
					{csrf_field key="users_action"}
					<select name="action">
						<option value="">— Choisir une action à effectuer —</option>
						<option value="csv">Exporter en tableau CSV</option>
						<option value="delete">Supprimer</option>
					</select>
					<noscript>
						<input type="submit" value="OK" />
					</noscript>
				</td>
			</tr>
		</tfoot>